<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Login Test" parallel="classes" thread-count="1">

    <!--<listeners>-->
        <!--<listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener"/>-->
    <!--</listeners>-->

    <test verbose="1" name="LoginTest">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

</suite>
